h1, h2{
    color:rgb(220, 60, 60);
    display: block;
    background-color:rgb(243, 187, 44);
    width: fit-content;
    border-bottom: 3px double black;
}

body {
    background-color: antiquewhite;
    border: 5px double black;
    border-radius: 5px;
}
p {
    width: 70%;
}
h5 {
    display: none;
}

table, th, td {
    border:1px solid black;
  }

#top {
    font-weight: bold;
    text-transform: uppercase;
}