body {
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.whole {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border-style: double;
    border-width: 5px;
}
.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62%;
}

.addition {
    margin-left: 35%;
    margin-top: 10%;
    height: 300px;
}

.slideshow {
    position: center;
    margin: 0 auto;
    padding-top: 50px;
    height: 250px;
    box-sizing: border-box;
}

.content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 8px;
}

.content-carrousel {
    padding-left: 40px;

    /* This helps to rotate the
    photo div with respest to
    axis of an another circle */
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 25s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {

    /* This is a hover effect.
    when the mouse will reach
    on the photo, the photo
    will stop moving */
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {

    /* width of the full image div*/
    width: 100%;

    /* height of the full image div*/
    height: 120px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}

/* The calculation part starts for the angle.
first, take the number of photos and then divide
by 360 and write it in the position of degree */

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(60deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(300deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(360deg) translateZ(300px);
}

.slideshow {
    position: absolute;
    box-shadow: 0px 0pz 20px 0px #000;
    border-radius: 2px;
}

.content-carrousel img {
    image-rendering: auto;

    /* The photo will move
    with this velocity */
    transition: all 300ms;
     
    /* width of the photo */
    width: 100%;
     
    /* height of the photo */
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}
